/*main style blocking*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
}
section {
    margin: 0px 10px 10px 360px;
}


/*sidebar styling*/
#sidebar {
    color: rgb(0, 87, 90);
    border: dashed black;
    z-index: 2;
    position: fixed;
    height: 100vh;
    width: 350px;
    background-color: white;
    overflow: hidden;
}
#sidebar div {
    text-align: center;
    margin-top: 30vh;
}
#sidebar h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-bottom: 5px;
}
#sidebar a {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 2px 0 0 0;
    padding: 2px;
}


/*works styling*/
#works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px 10px 10px 360px;
}
#works img {
    border-radius: 10px;
    margin: 0;
}
.project-card {
    z-index: 1;
    padding: 0 0 2px 0;
    text-align: center;
    max-width: 420 ;
    height: 204px;
}
.project-card p {
    z-index: inherit;
    display: none;
    margin: 100px 0 0 0;
}
.project-image {
    z-index: 0;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
}


/*hover styling for works*/
.project-image:hover {
    filter: blur(4px);

}
.project-card p:hover {
    display:block;
}


/*about me styling*/
.bio {
    font-size: 35px;
    display: block;
    border: solid black;
}


/*contact me styling*/
#contact_Me {
    display:inline-block;
    width: 100vh;
    border: solid black;
}
.contact {
    font-size: 35px;
    border: solid rgb(255, 0, 0);
}


/*footer styling*/

/*to do change sidebar display on screens < 700px wide*/
