/*main style blocking*/
/*todo root selector and variables, repeating margin, color, spacing, size*/
:root {
    --title-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-font: Courier, monospace;
    --border-radius: 2px;
    --border-style: dashed rgba(0, 0, 0, 0.705);
    --margin: 0px 10px 10px 370px ;    
    --background-color: #fff5ec6b; 
    --title-color: #327094;
    --font-color: #fff5ec;
    --content-margin: 0px 10px 10px 380px;
}
* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
}
section {
    margin: var(--margin);
}
body {
    margin: 0 0 0 50px;
    height: 100vh;
    background-image: url(../images/background/vertical-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/*sidebar styling*/
#sidebar {
    border: var(--border-style);
    border-bottom: none;
    border-top: none;
    z-index: 2;
    position: fixed;
    height: 110vh;
    width: 350px;
    background-color: #fff5ec;
    overflow: hidden;
}
#sidebar div { 
    text-align: center;
    margin-top: 30vh;
}
#sidebar h1 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-size: 40px;
    margin-bottom: 5px;
}
#sidebar a {
    color: #53809b;
    font-family: var(--main-font);
    font-size: 25px;
    display: block;
    margin: 2px 0 0 0;
    padding: 2px;
}
.me-pic {
    background-color: black;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 50%;
    border-width: 5px;
}


/*works styling*/
#works-title {
    padding-top: 10px;
    margin: var(--margin);
    font-size: 30px;
    font-family:var(--title-font)
}
#works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: var(--content-margin);
}
.project-card {
    flex: 1 0 0;
    border: var(--border-style);
    border-radius: 10px;
    margin: 5px;
    z-index: 1;
    position: relative;
    min-width: 204px;
    max-width: 354px;
    max-height: 354px;
}
.initial-card {
    position: relative;
    display: inline-block;
    max-height: 354px;
    min-width: 354px;
    margin:2.5px;
}
.project-card p {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: auto;
    width: 200px;
    height: 100px;
    z-index: 1;
    font-family: var(--title-font);
    font-weight: bold;
    color: var(--font-color);
    font-size: 40px;
}
.project-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/*hover styling for works*/
.project-card:hover .project-image{
    filter: blur(4px) brightness(0.7);
}
.project-card:hover p{
    display:block;
    margin-left: auto;
    margin-right: auto;
}


/*about me styling*/
#about_Me_title {
    margin: var(--margin);
    font-size: 30px;
    font-family: var(--title-font);
}
.bio {
    margin: 10px 10px 10px 30px;
    background-color: var(--background-color);
    font-family: var(--main-font);
    font-size: 30px;
    color: var(--title-color);
    padding: 5px;
    display: block;
    border: var(--border-style);
    border-radius: var(--border-radius);
}


/*contact me styling*/
#contact_Me_title {
    margin: var(--margin);
    font-size: 35px;
    font-family: var(--title-font);
}
#contact_Me {
    background-color: var(--background-color);
    font-family: var(--main-font);
    margin: var(--content-margin);
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}
.contact {
    font-size: 25px;
    color: black;
}
.contact_Icon {
    filter: blur(0.5px);
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

/*link unstyling*/
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
/*footer styling*/

/*to do change sidebar display on screens < 700px wide*/
@media screen and (max-width: 1170px) {
    :root {
        --margin: 0px 10px 10px 0px;
        --content-margin: 0px 10px 10px 30px;
    }
    #sidebar {
        position: relative;
        width: 110%;
        height: 100px;
        margin: 0 0 0 -50px;
        border:none;
        border-bottom: var(--border-style);
        overflow: hidden;
    }
    #sidebar div {
        margin-top: 0;
        padding: 20px;
    }
    #sidebar h1 {
        padding: 10px;
        display: inline;
        float: left;
    }
    #sidebar a {
        display: inline-block;
        right: 50px;
        padding: 15px;
    }
    .me-pic{
        float: left;
        width: 60px;
        height: 60px;
        display: inline;
        border-width: 2px;
    }
    .bio {
        margin:0 0 0 30px;
    }
  }
@media screen and (max-width:700px) {
    #sidebar {
        position: relative;
        width: 110%;
        height: 300px;
        margin: 0 0 0 -50px;
        border:none;
        border-bottom: var(--border-style);
        overflow: hidden;
    }
    #sidebar div {
        margin-top: 0;
        padding: 20px;
        text-align: center;
    }
    #sidebar h1 {
        padding: 10px;
        margin: 0 80px 10px 20px;
        display: inline;
        text-align: center;
    }
    #sidebar a {
        display: block;
        right: 50px;
        padding: 15px;
    }
    .contact {
        display: block;
    }
}